services:
  redis:
    image: docker.io/redis:8.2.3
    container_name: lain_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: redis-cli ping
      interval: 10s
      timeout: 5s
      start_period: 10s
      retries: 5

volumes:
  redis_data:
